<script type="text/javascript">
	var pusher = new Pusher('4eff344ae11ed3c814c8');
	var channel = pusher.subscribe('game-<%= @game.id %>');
	var chat = pusher.subscribe('game-<%= @game.id %>-chat')
	
	//new player
	channel.bind('new-player', function(data) {
		//alert("loading <%= @game.id %> .player-"+data.player);
		$(".player-wrapper").load("<%= @game.id %> .player-frames");
	});

	chat.bind('new-message', function(data) {
		$(".game-chat-messages").append('<p class="row"><strong>' + data.uid + ":</strong>" + data.message + '</p>');
		$(".game-chat-messages").animate({ scrollTop: $(".game-chat-messages")[0].scrollHeight }, "slow");
	});
	//alert('subscribed to game-<%= @game.id%>'); 
</script>

<div class="player-wrapper">
<div class="player-frames">
	<div class="player-1 teal">
		<p>Player 1: <%= @game.players[0].email %></p>
		<p>Money: <%= @game.players[0].balance %></p>
	</div>
	
	<% if @game.players[1] then %>
	<div class="player-2">
		<p>Player 2: <%= @game.players[1].email %></p>
		<p>Money: <%= @game.players[1].balance %></p>
	</div>
	<% end %>
	
	<% if @game.players[2] then %>
	<div class="player-3">
		<p>Player 3: <%= @game.players[2].email %></p>
		<p>Money: <%= @game.players[2].balance %></p>
	</div>
	<% end %>

	<% if @game.players[3] then %>
	<div class="player-4">
		<p>Player 4: <%= @game.players[3].email %></p>
		<p>Money: <%= @game.players[3].balance %></p>
	</div>
	<% end %>
</div>
</div>

<div class="game-chat teal">
	<h1 class="blue">Game <%= @game.id %> Chat:</h1>
	<div class="game-chat-messages">
		
	</div>

		<input id="text" type="text">
		<input id="game-id" type="hidden" value="<%= @game.id %>">
		<button class="submit" onclick="chat_submit()">Submit</button>
</div>

<%= button_to "Roll Dice", {}, {:class => "action-button roll green"} %>
<%= button_to "Buy Houses", {}, {:class => "action-button buy green"} %>


<div class="game-board">

	<div class="game-board-middle"><%= image_tag "board-middle.jpg" %></div>

	<div class="board-tiles">
		
		<!-- Corner board tiles for the entire game-->
		<div class="corner-tile free-parking"><%= image_tag "free_parking.jpg" %></div>
		<div class="corner-tile go-to-jail"><%= image_tag "jail.jpg" %></div>
		<div class="corner-tile go"><%= image_tag "go.jpg" %></div>
		<div class="corner-tile jail"><div class="in-jail orange"><%= image_tag "in_jail.jpg" %></div></div>

		<!-- Bottom board tiles-->
		<div class="bottom-tile mediteranean-avenue"><div class="title-bottom brown"></div></div>
		<div class="bottom-tile community-chest-bottom"><%= image_tag "community-chest-bottom.jpg" %></div>
		<div class="bottom-tile baltic-avenue"><div class="title-bottom brown"></div></div>
		<div class="bottom-tile income-tax-bottom"><%= image_tag "income-tax.jpg" %></div>
		<div class="bottom-tile reading-railroad"><%= image_tag "reading-railroad.jpg" %></div>
		<div class="bottom-tile oriental-avenue"><div class="title-bottom teal"></div></div>
		<div class="bottom-tile chance-bottom"><%= image_tag "chance-bottom.jpg" %></div>
		<div class="bottom-tile vermont-avenue"><div class="title-bottom teal"></div></div>
		<div class="bottom-tile connecticut-avenue"><div class="title-bottom teal"></div></div>

		<!-- Left board tiles-->
		<div class="left-tile st-charles-place"><div class="title-left pink"></div></div>
		<div class="left-tile electric-company"><%= image_tag "electric-company.jpg" %></div>
		<div class="left-tile states-avenue"><div class="title-left pink"></div></div>
		<div class="left-tile virginia-avenue"><div class="title-left pink"></div></div>
		<div class="left-tile pennsylvania-railroad"><%= image_tag "pennsylvania-railroad.jpg" %></div>
		<div class="left-tile st-james-place"><div class="title-left orange"></div></div>
		<div class="left-tile community-chest-left"><%= image_tag "community-chest-left.jpg" %></div>
		<div class="left-tile tennessee-avenue"><div class="title-left orange"></div></div>
		<div class="left-tile new-york-avenue"><div class="title-left orange"></div></div>

		<!-- Top board tiles-->
		<div class="top-tile kentucky-avenue"><div class="title-top red"></div></div>
		<div class="top-tile chance-top"><%= image_tag "chance-top.jpg" %></div>
		<div class="top-tile indiana-avenue"><div class="title-top red"></div></div>
		<div class="top-tile illinois-avenue"><div class="title-top red"></div></div>
		<div class="top-tile b-n-o-railroad"><%= image_tag "b-n-o-railroad.jpg" %></div>
		<div class="top-tile atlantic-avenue"><div class="title-top yellow"></div></div>
		<div class="top-tile ventnor-avenue"><div class="title-top yellow"></div></div>
		<div class="top-tile water-works"><%= image_tag "water-works.jpg" %></div>
		<div class="top-tile marvin-gardens"><div class="title-top yellow"></div></div>

		<!-- Right board tiles -->
		<div class="right-tile pacific-avenue"><div class="title-right green"></div></div>
		<div class="right-tile north-carolina-avenue"><div class="title-right green"></div></div>
		<div class="right-tile community-chest-right"><%= image_tag "community-chest-right.jpg" %></div>
		<div class="right-tile pennsylvania-avenue"><div class="title-right green"></div></div>
		<div class="right-tile short-line"><%= image_tag "short-line.jpg" %></div>
		<div class="right-tile chance-right"><%= image_tag "chance-right.jpg" %></div>
		<div class="right-tile park-place"><div class="title-right blue"></div></div>
		<div class="right-tile luxury-tax"><%= image_tag "luxury-tax.jpg" %></div>
		<div class="right-tile boardwalk"><div class="title-right blue"></div></div>
	</div>
</div>